<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo2</title>
</head>
<body>
    <form method="post" >
        {% csrf_token %}
        <label for="id_name">Name:</label>
        <input type="text"  name="name"  placeholder="enter your name" maxlength="100" required>
        <br>
    
        <label for="id_email">Email:</label>
        <input type="email"  placeholder="enter your email..." name="email" required>
        <br>
    
        <label for="id_password">Password:</label>
        <input type="password" placeholder="enter your password.."name="password" required>
        <br>

        <label for="adress">Adress:</label>
        <input type="text" placeholder="enter your adress.."required>
        <br>
    
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>